h1{
	color:red;
}	
#cabecera{
	position:absolute;
	top: 2%;
	left:2%;
	height:10%;
	width:93%;
	line-height: 5;
	line-height: 15;
    font-size: 37px;
}	
#indice{
    position:absolute;
	top: 3%;
	left:5%;
	height:15%;
	width:90%;	
    line-height:10;
    font-size: 30px;
}
#contenido{
	position:absolute;
	top: 1%;
	left:3%;
	height:10%;
	width:95%;
    line-height:30;
    font-size: 41px;
}
#piedepagina{
	position:absolute;
	top: 6%;
	left:2%;
	height:11%;
	width:93%;
	font-size: 41px;
	line-height:25;
}	
